<!-- your html code here -->
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2>Contact</h2>
        <p>Lorem ipsum blablablabla</p>
        <div style="background-color: grey;" class="container row">
            <form class="row align-items-center">
                <div class="col-12 row">
                    <div class="col-4">
                        <label for="email" class="col-form-label font-weight-bold">Your Email:</label>
                    </div>
                    <div class="col-8">
                        <input class="form-control" type="text" id="email" placeholder="Your email"/>
                    </div>
                </div>
                <div class="col-12 mb-3 row">
                    <div class="col-4">
                        <label class="form-label font-weight-bold" for="message">Your Message:</label>
                    </div>
                    <div class="col-8">
                        <textarea class="form-control" id="message" placeholder="Please enter your message here..."></textarea> 
                    </div>
                    <br>
                      
                </div>
                <div class="col-12 mb-3-row">
                    <div class="align-items-right">
                        <button class="bg-info text-light">Submit</button>
                    </div>
                </div>     
            </form>
        </div>
    </div>
</div>