<!-- your html code here -->
<div class="container col-9">
    <div class= " d-flex row justify-content-between">
        <div class="col-xl-8 col-md-8 col-sm-12">
            <H2 class= h2 >Thuis First Heading <span class=text-muted>Will Catch Your Eye</span></H2>

            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-xl-4 col-md-4 col-sm-12">
            <img src="/website1/assets/img/1.jpg" alt="imagenParte2" class="rounded-circle col-12">
        </div>
    </div>
</div>