<!-- your html code here -->


<!-- Background image -->
<div
  class="bg-image container-fluid imagenbg"
  style="
    background-image: url(/website1/assets/img/bg.jpg);
    height: 100vh; 
    
  "
>

<!--<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>-->

<div class="text-center ">
  <h1 class="bg-light textHeroOne">One Page Wonder</h1>
  <h2 class="bg-light textHeroTwo">Will Knock Your Socks Off</h2>
</div> 


</div>
<!-- Background image -->